body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2d2d2d;
  font-family: "Epilogue", sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/****************** HEADER! *******************/
.header {
  display: flex;
  padding: 25px 50px;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #2d2d2d;
}

.navigation {
  display: flex;
  gap: 50px;
}

.menu-btn {
  border: none;
  background-color: transparent;
  display: none;
}

@media only screen and (max-width: 700px) {
  .menu-btn {
    display: block;
  }

  .navigation {
    display: none;
  }
}

/****************** BIO SECTION! *******************/
.bio-section {
  padding: 120px 30px;
  background-color: #f9e6f0;
  display: flex;
  justify-content: center;
}

.bio-container {
  max-width: 780px;
  display: flex;
  align-items: center;
  gap: 70px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-20 {
  margin-top: 20px;
}

.profile .title-text {
  text-decoration: underline;
}

.profile img {
  border: 1.5px solid #2d2d2d;
}

.title-text {
  font-weight: 700;
  line-height: 27px;
  font-size: 18px;
}

.secondary-text {
  font-weight: 400;
  line-height: 27px;
  font-size: 18px;
}

@media only screen and (max-width: 700px) {
  .bio-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 78px;
  }
}

/****************** ABOUT SECTION! *******************/
.section-title {
  font-weight: 500;
  line-height: 36px;
  font-size: 24px;
  color: #2b2b2b;
}

.about-section {
  padding: 120px 30px;
  display: flex;
  justify-content: center;
}
.about-container {
  max-width: 880px;
  line-height: 26px;
}

.highlighted-text {
  background-color: #009379;
  color: #f6dce9;
  padding: 5px 0;
}

.mt-60 {
  margin-top: 60px;
}

/****************** HEADER SECTION! *******************/
.footer {
  padding: 0 30px 70px;
  display: flex;
  justify-content: center;
}

.for-border-top {
  border-top: 2px solid #00000033;
  padding-top: 70px;
  max-width: 1080px;
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 190px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 360px;
}

.footer-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.input-container {
  gap: 20px;
  max-width: 530px;
}

.input-container input {
  box-sizing: border-box;
  width: 100%;
  padding: 21px 30px;
  border: none;
  background-color: #f3f3f3;
}

.submit-btn {
  padding: 25px 82px;
  display: inline-block;
  background-color: #2d2d2d;
  color: white;
  font-weight: 600;
  font-size: 20px;
  font-family: "Epilogue", sans-serif;
  border: none;
  align-self: flex-start;
}

@media only screen and (max-width: 700px) {
  .footer-container {
    flex-direction: column;
    gap: 80px;
  }
}
